.todo__add {
  display: flex;
  align-items: center;
  height: 5rem;
  margin-bottom: 3rem;
}

.todo__add input {
  flex: 1;
  height: 100%;
  background-color: var(--secondary);
  border: none;
  padding: 0 1rem;
  color: white;
}

.todo__add input:focus {
  outline: none;
}

.todo__add button {
  height: 100%;
  flex: 0.3;
  background-color: #bb31ce;
  border: none;
  color: white;
  cursor: pointer;
  transition: all 0.2s ease-in;
  outline: none;
}

.todo__add button:hover {
  background-color: white;
  color: #bb31ce;
}
